@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    if (Request.IsAuthenticated)
    {
        ViewBag.UserName = User.Identity.GetUserName();
    }
}

<main>
    <head>
        <title>SignalR Simple Chat</title>
        <style type="text/css">
            .container {
                background-color: #99CCFF;
                border: thick solid #808080;
                padding: 20px;
                margin: 20px;
            }
        </style>
    </head>
    @{
        if (!Request.IsAuthenticated)
        {
            <body>
                <div>
                    PLEASE LOG IN FIRST!!!
                </div>
            </body>
        }
        else
        {
            <body>
                <li>
                    @Html.ActionLink("Chats", "Index", "ChatHubs", new { @class = "ChatHubs" }, null)
                </li>
                
            </body>
        }
    }

</main>